body {
    text-align: center;
}
.fnum{
    margin-bottom: 10px;
}

.snum{
    margin-bottom: 10px;
}

h1{
    text-align: center;
    padding-top: 50px; 
    font-size: 57px;

}

h4{
    padding-bottom: 1px;
}